@charset "UTF-8";
:root {
  --color-text-white: #ffffff;
  --background-color-hero-footer: #2f303a;
  --background-color: #f5f5f5;
  --color-acent: #2196f3;
  --color-black-logo: #000000;
  --color-title: #212121;
  --color-text: #757575;
  --color-button-team: #f5f4fa;
  --color-footer-telefon: rgba(255, 255, 255, 0.6);
  --color-btn-active: #188ce8;
  --color-border: #eeeeee;
  --color-icon: #afb1b8;
}

body {
  background-color: var(--color-text-white);
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
}

.list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: var(--color-title);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container .logo {
  margin-right: 93px;
  color: var(--color-black-logo);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo-header-footer {
  color: var(--color-acent);
}

.site-nav.list {
  display: flex;
  align-items: center;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  color: var(--color-title);
}

.site-nav .link,
.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--color-acent);
}

.site-nav .link.current {
  color: var(--color-acent);
  position: relative;
}
.site-nav .link.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  background-color: var(--color-acent);
  border-radius: 2px;
}

/* ---------------------Кнопки Email и телефон */
.auth-nav.list {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link {
  color: var(--color-text);
  fill: var(--color-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-nav .link:hover, .auth-nav .link:focus {
  color: var(--color-acent);
  fill: var(--color-acent);
}

.auth-nav .logo {
  margin-right: 10px;
  vertical-align: middle;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
}

.hero--overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgd.jpg");
  background-color: var(--background-color-hero-footer);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  max-width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--color-text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button--hero {
  padding: 10px 32px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--hero:hover, .button--hero:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-skill {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-skill__list {
  display: flex;
}

.section-skill__item + .section-skill__item {
  margin-left: 30px;
}

.caption-skill__title {
  margin-bottom: 10px;
  color: var(--color-title);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.caption-skill__text {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
}

.section-skill__thumb {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-button-team);
}

.section-skill__logo {
  margin: 0;
}

.section-skill__caption {
  margin-top: 30px;
}

.section-work {
  padding-bottom: 94px;
}

.section-work__container {
  padding-top: 0;
}

.section-work__title {
  margin-bottom: 50px;
}

.section-work__list {
  display: flex;
  justify-content: space-between;
}

.section-work__caption {
  width: 370px;
  height: 294px;
  position: relative;
}

.caption-work__img {
  max-width: 100%;
  height: 100%;
}

.caption-work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--color-text-white);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--color-button-team);
}

.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list .item {
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .title {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--color-title);
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;
}
.team-list .text {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.19;
  color: var(--color-text);
}

.our-team {
  margin-bottom: 50px;
}

.footer-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-card .social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-card .item-social {
  width: 44px;
  height: 44px;
}
.footer-card .team-social-icon {
  fill: currentColor;
}

.footer-card .link-team {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--color-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-card .link-team:hover, .footer-card .link-team:focus {
  background-color: var(--color-acent);
  color: var(--color-text-white);
}

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-clients .section-title {
  margin-bottom: 50px;
}
.section-clients .thumb {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.section-clients .item {
  width: 170px;
  height: 92px;
}
.section-clients .icon {
  fill: currentColor;
}

.clients .logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--color-icon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients .logo:hover, .clients .logo:focus {
  border: 1px solid var(--color-acent);
  color: var(--color-acent);
}

.butt-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.butt-portfolio .item + .item {
  margin-left: 8px;
}

.button-grey {
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: var(--color-title);
  background-color: var(--color-button-team);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-grey:hover, .button-grey:focus {
  color: var(--color-text-white);
  background-color: var(--color-acent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -----------------------Портфолио работ */
.section-footer {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* .portfolio-list > .item {
      flex-basis: calc((100% - 60px) / 3); 
  } */
.portfolio-link {
  text-decoration: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list .title {
  margin-bottom: 4px;
  margin-left: 24px;
  color: var(--color-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list .text {
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 24px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.portfolio-list .item {
  background: var(--color-text-white);
  box-shadow: inset 0 0 0 1px #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.caption-photo {
  padding-bottom: 20px;
  padding-top: 20px;
}

/* ----------------Делаем оверлей---------- */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfoli-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.caption {
  padding-top: 20px;
}

.portfolio-photo {
  display: block;
}

.portfolio-list > .item:hover .portfoli-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfoli-overlay > .text {
  margin: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-text-white);
}

.portfolio-list > .item:hover .portfoli-overlay > .text {
  transform: translateY(0);
  opacity: 1;
}

.button {
  color: var(--color-text-white);
  background-color: var(--color-acent);
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-color-hero-footer);
}
.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--color-text-white);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.address .address-link {
  color: var(--color-text-white);
}
.address .email {
  display: inline-block;
  color: var(--color-footer-telefon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .phone {
  color: var(--color-footer-telefon);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .item {
  margin-bottom: 9px;
}

.address .hover:hover,
.address .hover:focus {
  color: var(--color-acent);
}

.call .social-call {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.call .subtitle-call {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-white);
}

.footer .address-footer {
  display: flex;
  gap: 70px;
  align-items: baseline;
}
.footer .item-social-call {
  width: 44px;
  height: 44px;
}
.footer .call-social-icon {
  fill: currentColor;
}
.footer .subscribe-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
  color: var(--color-text-white);
}

.footer .link-call {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .link-call:hover, .footer .link-call:focus {
  background-color: var(--color-acent);
}

.subscribe {
  margin-left: 13px;
}

.email-input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  font: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-text-white);
}

.form-email .btn-telegram {
  width: 200px;
  margin: 0;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--color-acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-email .btn-telegram:hover {
  background-color: var(--color-btn-active);
}

.form-email {
  display: flex;
  gap: 12px;
}

.btn-telegram .text {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
}

.icon-in {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--color-text-white);
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: var(--color-text-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-text-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-close:hover {
  fill: var(--color-acent);
}

.form-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.form {
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field .form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text);
}
.form-field .form-input {
  width: 100%;
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.last-child {
  margin-bottom: 20px;
}

.form-input:focus {
  border-color: var(--color-acent);
}

.form-input:focus + .form-icon {
  fill: var(--color-acent);
}

.form-field .comment {
  padding-top: 12px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  outline: transparent;
  resize: none;
}
.form-field .comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-field .comment:focus {
  border-color: var(--color-acent);
}

.form-policy {
  margin-bottom: 30px;
}
.form-policy .link-contract {
  margin-left: 8px;
  color: var(--color-acent);
}

.policy {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.check-policy {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-title);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .policy .check-policy {
  background-color: var(--color-acent);
  border: none;
  fill: var(--color-text-white);
}

.form-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 12px;
}

.input-wrap {
  display: block;
  position: relative;
}

.btn-form {
  padding: 10px 52px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-text-white);
  background-color: var(--color-acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-form:hover, .btn-form:focus {
  background-color: var(--color-btn-active);
}/*# sourceMappingURL=main.css.map */