@import './utils/vars';
@import "./base/commons";
@import "./base/reset";
@import "./utils/mixins";
@import "./components/container";
@import "./components/pre-title";
@import "./utils/hide";
@import "./layouts/header";
@import "./components/btn-menu";
@import "./layouts/hero";
@import "./layouts/skills";
@import "./layouts/works";
@import "./layouts/our-teams";
@import "./layouts/clients";
@import "./layouts/portfolo";
@import "./components/btn";
@import "./layouts/footer";
@import "./components/modal";


