.nav {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.menu-button {
  .icon-cross {
    display: none;
  }
}
.menu-button.is-open .icon-cross {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
// .menu-button.is-open .logo {
//   opacity: 0;
// }
.header-container {
    position: relative;
}
.menu-container {
  background-color: var(--color-text-white);
   

  @media screen and (max-width: 767px) {
    // text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 48px;
    padding-left: 40px;

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;


    &.is-open {
        display: block;
    }
  }
 
@media screen and (min-width: 768px) {
  // display: flex;
  // flex-grow: 1;
  // justify-content: space-between;
}
}


.menu-cross .menu-button .icon-cross
{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-cross .menu-button:hover .icon-cross,
.menu-cross .menu-button:focus .icon-cross
{
 
fill: var(--color-acent);
}