body {
    background-color: var(--color-text-white);
    background-color: rgb(176, 44, 44);
    color: var(--color-text);
  
    font-family: "Roboto", sans-serif;
    
  }
  .list {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
  
    list-style: none;
  }