:root {
    --color-text-white: #ffffff;
    --background-color-hero-footer: #2f303a;
    --background-color: #f5f5f5;
    --color-acent: #2196f3;
    --color-black-logo: #000000;
    --color-title: #212121;
    --color-text: #757575;
    --color-button-team: #f5f4fa;
    --color-footer-telefon: rgba(255, 255, 255, 0.6);
    --color-btn-active: #188ce8;
    --color-border: #eeeeee;
    --color-icon: #afb1b8;
  }