.footer {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--background-color-hero-footer);
  .logo {
    display: inline-block;
    margin-bottom: 20px;
    color: var(--color-text-white);

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
}
.adrress-all {
  @media screen and (max-width: 1200px) {
    text-align: center;
    margin-bottom: 60px;
  }

  .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .address-link {
    color: var(--color-text-white);
  }
  .email {
    display: inline-block;
    color: var(--color-footer-telefon);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .phone {
    color: var(--color-footer-telefon);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .item {
    margin-bottom: 9px;
  }
}

.address .hover:hover,
.address .hover:focus {
  color: var(--color-acent);
}

.call {
  @media screen and (max-width: 1200px) {
    //  display: block;
    text-align: center;
    margin-bottom: 60px;
  }
  .social-call {
    display: flex;
    // justify-content: flex-start;
    gap: 10px;
    @media screen and (max-width: 1200px) {
      justify-content: center;
    }
  }
  .subtitle-call {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-text-white);
  }
}
.footer {
  // .address-footer {
  //   display: flex;
  //   gap: 70px;
  //   align-items: baseline;
  // }

  .item-social-call {
    width: 44px;
    height: 44px;
  }

  .call-social-icon {
    fill: currentColor;
  }
  .subscribe-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    color: var(--color-text-white);
  }
}
.footer .link-call {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--color-text-white);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--color-acent);
  }
}

// .subscribe {
//   margin-left: 13px;
// }
.subscribe {
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
}
.form-email {
  @media screen and (max-width: 1200px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.email-input {
  width: 358px;
  @media screen and (max-width: 1200px) {
    width: 450px;
    margin-bottom: 20px;
  }
  padding-top: 15px;
  padding-bottom: 15px;
  font: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-text-white);
}

.form-email .btn-telegram {
  width: 200px;
  height: 50px;
  margin: 0;
  // margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--color-acent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--color-btn-active);
  }
}

// .form-email {
//   display: flex;
//   gap: 12px;
// }

.btn-telegram .text {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
}

.icon-in {
  display: block;
  width: 24px;
  height: 24px;

  fill: var(--color-text-white);
}

.email-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
