.section-skill {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  // .section-skill__list {
  //   display: flex;
  // }
  .section-skill__item + .section-skill__item {
    margin-left: 30px;
  }
  .caption-skill__title {
    margin-bottom: 10px;
  
    color: var(--color-title);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .caption-skill__text {
    margin-bottom: 0;
    margin-top: 0;
  
    font-size: 14px;
    line-height: 1.71;
  }
  .section-skill__thumb {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-button-team);
  }
  .section-skill__logo {
    margin: 0;
  }
  .section-skill__caption {
    margin-top: 30px;
  }