.section-work {
    padding-bottom: 94px;
  }
  
  .section-work__container {
    padding-top: 0;
  }
  
  .section-work__title {
    margin-bottom: 50px;
  }
  
  .section-work__list {
    display: flex;
    justify-content: space-between;
  }
  
  .section-work__caption {
    width: 370px;
    height: 294px;
    position: relative;
  }
  
  .caption-work__img {
    max-width: 100%;
    height: 100%;
  }
  
  .caption-work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 27px;
    padding-bottom: 27px;
  
    color: var(--color-text-white);
    background-color: rgba(47, 48, 58, 0.8);
  }